.task {
  background-color: var(--p-menubar-background);
  border: 2px solid var(--p-menubar-border-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

.task h4 {
  margin: 0 0 20px 0;
  text-wrap: auto;
}

.task > * {
  margin-bottom: 20px;
}
